/*aside*/
.aside { background: #035aa9; position: relative; float: left; min-height: 100%; overflow: hidden; color : #fff; z-index: 1111; }



.logo  {
    background: rgba(0, 0, 0, 0) url("../Content/images/fls-logo.svg") no-repeat scroll 0 0 / 223px 58px;
    display: block;
    height: 58px;
    margin: 25px auto 10px;
    width: 55px;
	overflow: hidden;
}



.aside.open  .logo  {
    width: 223px;
}

.aside  ~ .wrapper { padding-left: 71px; }
.aside.open  ~ .wrapper { padding-left: 263px; }

.aside  ~ .footer { padding-left: 71px; }
.aside.open  ~ .footer { padding-left: 263px; }

.aside   { width: 71px;  }
.aside.open    { width: 263px; }

.aside  .inner { width: 71px;  z-index: 1111;  position: fixed; top: 0;  height: 100%;   overflow: hidden;  background: #035aa9; height: 100%; box-shadow: 0 0 8px rgba(0,0,0,0.8); }

.aside .inner .scroll { height: 100%; overflow-y: auto;  width: 90px;}
.aside.open .inner .scroll { width: 290px;}


.aside .inner .body-scroll { width: 71px;}
.aside.open .inner .body-scroll { width: 263px;}



.aside.open   .inner { width: 263px;  }

.aside  ul   {margin-top: 110px; }
.aside.open  ul   {margin-top: 0; }

.aside  ul li + li {margin-top: 1px; }
.aside  ul  li  {  width: 100%: }
.aside   ul  a { color : #fff; background: #1f4b80; white-space: nowrap; display: block; height: 64px; width: 100%;  border-right: 4px solid #1f4b80; cursor: pointer; padding-right: 10px; }
.aside  ul  a  span { display: none;    padding: 10px 0; font-family:  "Open Sans", Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;  line-height: 1.4 }
.aside  ul  a.acitve  ,
.aside  ul  a:hover   {border-right-color: #f68120 }
.aside.open   ul   a  span { display:  inline-block; width: 192px; white-space: normal;  vertical-align: middle; }
.aside   ul   a:before{  width: 71px; height: 64px; line-height: 64px; }
.aside.open   ul   a:before{ /* width: 67px;*/ }
.aside   ul   a:before{ display: inline-block;  vertical-align: middle;  text-align: center; font-size: 20px;

	text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;
    color: #1f4b80;

 }

.ie .aside   ul   a:before { text-shadow: none; color: #fff;}

.aside   .toggle { background: rgba(255,255,255,0.5); color: #fff;  height: 64px; width: 71px; border: none; text-align: center; vertical-align: middle; display: inline-block; line-height: 64px; float: Right; font-size: 20px; }
.aside   .toggle:before {font-size: 25px;  line-height: 64px; }

.aside   .fake-file:before  {  text-shadow: 1px 0 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff, 0 -1px 0 #fff;    color: #035aa9; font-size: 30px; line-height: 60px;  }
.aside   .fake-file  {border: 1px solid #fff; display: inline-block;  vertical-align: middle;  border-radius: 50%;  text-align: center; width: 60px; height: 60px; line-height: 60px; margin: 15px; }
.aside   .welcome   { display: inline-block;  vertical-align: middle; max-width: 150px; }

.aside .user-block{ display: none;  height: 100px;  }
.aside.open   .user-block {display: block; }


/*/aside*/
