.login-page,
.login-page body{
  background: #fff;
}
.login-wrapper {
  position: absolute;
  top:0;
  right: 0;
  bottom: 0;
  left:0;
  margin: auto;
  width:450px;
  height: 450px;
  text-align: center;
}
.login-logo{
  display: inline-block;
  background: url("../Content/images/fls-logo-color.svg") no-repeat  0 0;
  margin-bottom:2em;
  height: 58px;
  width:225px;
}
.login-form{
  padding:3em;
  border:1px solid #ededed;
  border-radius: 15px;
}
.login-form input {
  border: none;
  font-size: 16px;
  border-bottom: 1px solid #ededed;
  color: #333;
  padding: 3px 0;
  width: 100%;
  margin-bottom: 1.5em;
}
.login-form h3{
  margin-bottom: 1.5em;
  font-size: 20px;
}
.login-form .btn{
  margin-top: 1.5em;
  width: 120px;
}
